global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
   option httpchk OPTIONS / HTTP/1.0
   http-check expect rstatus (2|3)[0-9][0-9]
   default-server inter 3s fall 3 rise 2
    server 192.168.101.3 192.168.101.3:8080 check 
    server 192.168.101.5 192.168.101.5:8080 check
#    option http-check
#httpchk OPTIONS * HTTP/1.1\r\n
#    option http-check expect status 200

